{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>中国传统服饰</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Bootstrap css -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Vendors Plugins -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/slick-carousel/1.9.0/slick-theme.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/slick-carousel/1.9.0/slick.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/animate.css/3.7.0/animate.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/venobox/1.9.1/venobox.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/vendor/flaticon/flaticon.css" />
    <link rel="stylesheet" href="../static/vendor/arrow-font/flaticon.css" />
    <!-- style css -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="../static/css/responsive.css" />

    <meta name="theme-color" content="#fafafa" />
  </head>

  <body id="home">

    <!-- preloader start -->
    <div id="loading">
      <img src="../static/images/preloader.gif" alt="">
    </div>
    <header>
      <!-- Main Menu Start -->
      <div class="site-navigation menu-transparent">
        <nav class="navbar navbar-expand-lg navbar-light navbar-floating">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img src="../static/images/logo-light.png" alt="传统服饰" class="img-fluid" />
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse  mainmenu" id="navbarMenu">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      主页
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbar1">
                      <a class="dropdown-item " href="/">
                         主页 1
                     </a>
                     <a class="dropdown-item " href="index-2.html">
                         主页 2
                     </a>
                  </div>
                </li>

                <li class="nav-item ">
                  <a href="about.html" class="nav-link"> 关于 </a>
                </li>

                <li class="nav-item">
                  <a href="service.html" class="nav-link"> Services </a>
                </li>
                <li class="nav-item">
                  <a href="portfolio.html" class="nav-link "> Portfolio</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Blog
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbar3">
                      <a class="dropdown-item " href="blog.html">
                         Blog
                     </a>
                     <a class="dropdown-item " href="blog-right.html">
                        Blog Right Sidebar
                    </a>
                     <a class="dropdown-item " href="blog-single.html">
                         Blog Single
                     </a>
                     <a class="dropdown-item " href="blog-single-right.html">
                        Blog Single with sidebar
                      </a>
                  </div>
                </li>

                <li class="nav-item">
                  <a href="contact.html" class="nav-link"> Contact </a>
                </li>
              </ul>

              <div class="header-btn d-none d-lg-block">
                <a href="contact.html" class="btn btn-radius btn-solid-border text-uppercase">Get In touch</a>
              </div>
            </div>
            <!-- / .navbar-collapse -->
          </div>
          <!-- / .container -->
        </nav>
      </div>
    </header>
    <!-- Header ENd -->

      <!-- Banner Section Start -->
      <section class="banner-2">
        <div class="banner-shape1"></div>
        <div class="banner-shape2">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1920 920">
            <defs>
              <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#3f48ef"/>
                <stop offset="1" stop-color="#4855f9"/>
              </linearGradient>
            </defs>
            <g id="Group_1939" data-name="Group 1939" transform="translate(0 0.601)">
              <path id="_2" data-name="2" d="M5127,919.4s424.672-234.31,932.879-77S7047,850.756,7047,850.756V-.028L5127-.6Z" transform="translate(-5127)" fill="url(#linear-gradient)"/>
              <path id="_1" data-name="1" d="M5127,168.681S5551.672,685.089,6059.879,842.4,7047,850.756,7047,850.756V-.028L5127-.6Z" transform="translate(-5127)" fill="#3f48ef"/>
            </g>
          </svg>
        </div>

        <div class="banner-shape3">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1920 920">
            <path id="_3" data-name="3" d="M5127,919.4s424.672-234.31,932.879-77S7047,850.756,7047,850.756V-.028L5127-.6Z" transform="translate(-5127 0.601)" fill="#e5f3fe"/>
          </svg>
        </div>

       <div class="banner-shape4">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1920 920">
          <path id="_4" data-name="4" d="M5127,919.4s424.672-234.31,932.879-77S7047,850.756,7047,850.756V-.028L5127-.6Z" transform="translate(-5127 0.601)" fill="#e5f3fe" opacity="0.5"/>
        </svg>
        </div> 