{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block page %}
  <!-- Banner Section Start -->
 <section class="page-banner pt-60 pb-60">
   <div class="container">
     <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="page-banner-content text-center">
                <div class="post-single-meta">
                  <span><i class="flaticon flaticon-calendar mr-2"></i>{{ now }}</span>
                </div>
                <h2>{{ post.title }}</h2>
                <ul class="list-inline">
                  <li class="list-inline-item"> <a href="/">Home</a></li>
                  <li class="list-inline-item"> <i class="fa fa-angle-right"></i></li>
                  <li class="list-inline-item">blog</li>
                </ul>
            </div>
        </div>
     </div>
   </div>
 </section>
  <!-- Banner Section End -->
{% endblock %}
{% block details %}
<!--blog-details-area-->
<div class="blog-details-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12">
        <div class="blog-details">
            <p>{{ post.body }}</p>
          <p>Duis porta, ligula rhoncus euismod pretium, nisi tellus eleifend odio, luctus viverra sem dolor id sem. Maecenas a venenatis enim, quis porttitor magna. Etiam nec rhoncus neque. Sed quis ultrices eros. Curabitur sit amet eros eu arcu consectetur pulvinar. Aliquam sodales, turpis eget tristique tempor, sapien lacus facilisis diam.</p>
          <div>
            <img src="../static/images/blog/blog-lg1.jpg" alt="" class="img-fluid w-100">
          </div>
          <p class="mt-30">Aenean sed nibh a magna posuere tempor. Nunc faucibus pellentesque nunc in aliquet. Donec congue, nunc vel tempor congue, enim sapien lobortis ipsum, in volutpat sem ex in ligula. Nunc purus est, consequat condimentum faucibus sed, iaculis sit amet massa. Fusce ac condimentum turpis. Ut consequat lacinia augue, vitae aliquam sapien ullamcorper at.</p>
          <blockquote class="mt-40 mb-55"><span>Duis porta, ligula rhoncus euismod pretium, nisi tellus eleifend odio, luctus viverra sem dolor id sem. Maecenas a venenatis enim, quis porttitor magna. Etiam nec rhoncus neque. Sed quis ultrices eros.</span></blockquote>
          <h3 class="mb-30">Developing an app is not much easier than think</h3>
          <p>Duis porta, ligula rhoncus euismod pretium, nisi tellus eleifend odio, luctus viverra sem dolor id sem. Maecenas a venenatis enim, quis porttitor magna. Etiam nec rhoncus neque. Sed quis ultrices eros.</p>
          <p>Duis vestibulum elit vel neque pharetra vulputate. Quisque scelerisque nisi urna. Duis rutrum non risus in imperdiet. Proin molestie accumsan nulla sit amet mattis. Ut vel tristique neque. Praesent purus eros, aliquet sit amet venenatis in, sodales in odio. Curabitur ac ligula et purus cursus vulputate accumsan sit amet erat. dictumst. Proin augue urna, pretium vel mauris sed, lobortis rutrum libero.</p>
          
          <div class="row align-items-center mt-50 mb-40">
            <div class="col-lg-6 col-xl-5">
              <h4 class="mb-25">Responsive site design process</h4>
              <ul class="list-unstyled post-list-item">
                <li><i class="flaticon flaticon-check mr-3"></i>Duis vestibulum elit vel neque pharetra vulputate</li>
                <li><i class="flaticon flaticon-check mr-3"></i>Etiam convallis elementum sapien, ada fames</li>
                <li><i class="flaticon flaticon-check mr-3"></i>Aliquam turpis aliquam vitae. Praesent sollicitud</li>
                <li><i class="flaticon flaticon-check mr-3"></i>Praesent sollicitudin felis vel.</li>
              </ul>
            </div>

            <div class="col-lg-6 col-xl-7">
              <img src="../static/images/blog/blog-lg3.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <h3 class="mb-25">Ecommerce industry got an high resource for devlop</h3>
          <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis nibh. Maecenas convallis eros a 
            ante dignissim, vitae elementum metus facilisis. Cras in maximus sem. Praesent libero augue, ornare eget quam sed, volutpat suscipit 
            arcu. Duis ut urna commodo, commodo tellus ac, consequat justo. Maecenas nec est ac purus mattis tristique vitae vel leo. Duis ac eros 
            vel nunc aliquet ultricies vel at metus. Praesent a sagittis leo. Maecenas volutpat, justo in egestas mattis, lectus dui venenatis ex, 
            consequat imperdiet velit odio eget dolor. Mauris commodo cursus metus ut lobortis. Nulla eget facilisis nibh, et varius justo. Ut laoreet 
            purus at neque lacinia tempus. Cras venenatis sed felis sed pulvinar. Mauris orci sapien, convallis scelerisque nunc id, molestie mattis 
            lectus. Vivamus facilisis eu odio at vestibulum. Mauris id odio ut libero ornare finibus.</p>
              
            <div class="row align-items-center mt-40">
                <div class="col-lg-6">
                  <div class="blog-tags">
                    <a href="#">Design</a>
                    <a href="#">Creative</a>
                    <a href="#">Art</a>
                    <a href="#">Business</a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="blog-social-icons text-lg-right mt-4 mt-lg-0">
                    <span class="blog-social-icons-title mr-15">Share this:</span>
                    <a href="#"> <span class="flaticon flaticon-facebook"></span> </a>
                    <a href="#"> <span class="flaticon flaticon-twitter"></span> </a>
                    <a href="#"> <span class="flaticon flaticon-linkedin"></span> </a>
                  </div>
                </div>
              </div>

              <!--related-blog-posts-->
              <div class="row mt-80">
                <div class="col-lg-12">
                  <div class="related-blog-title mb-30">
                    <h3>Related Post</h3>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="col-xl-6 col-lg-6">
                  <div class="blog-item post-grid bg-shadow">
                    <div class="img-box">
                      <img src="../static/images/blog/blog-1.svg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-content">
                      <div class="post-meta">
                        <span><i class="flaticon flaticon-calendar mr-2"></i>Dec 15, 2020</span>
                        <span><i class="flaticon flaticon-chat mr-2"></i>3 Comments</span>
                      </div>
                      <h4><a href="blog-single.html">Only Data Can Produce Over Internet Properly</a></h4>
                      <a href="blog-single.html" class="btn btn-solid-border btn-radius">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                  <div class="blog-item post-grid bg-shadow">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="main" style="width: 410px;height:250px;"></div>
                    <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                        text: 'ECharts 入门示例'
                    },
                    tooltip: {},
                    legend: {
                        data:['销量']
                    },
                    xAxis: {
                        data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    },
                    yAxis: {},
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20]
                    }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    </script>
                    <div class="blog-content">
                      <div class="post-meta">
                        <span><i class="flaticon flaticon-calendar mr-2"></i>Dec 15, 2020</span>
                        <span><i class="flaticon flaticon-chat mr-2"></i>3 Comments</span>
                      </div>
                      <h4><a href="blog-single.html">Only Data Can Produce Over Internet Properly</a></h4>
                      <a href="blog-single.html" class="btn btn-solid-border btn-radius">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--comment-list-->
              <div class="row mt-80">
                <div class="col-lg-12">
                  <div class="comment-title mb-30">
                    <h3>Comments (2):</h3>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-comments">
                    <ul class="list-unstyled">
                      <li class="comment-single">
                        <div class="comment-thumb">
                          <img src="../static/images/blog/author-thumb.png" alt="">
                        </div>
                        <div class="comment-text">
                          <div class="comment-author">
                            <h4>Jessika Luisons</h4>
                            <span>19 Nov, 2020</span>
                          </div>
                          <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis nibh. Maecenas convallis eros a antedignissim, vitae elementum metus facilisis. Cras in maximus sem. Praesent libero augue, ornare eget quam sed, volutpat suscipit arcu. Duis ut urna commodo.</p>
                        </div>
                        <div class="comment-reply-link">
                          <a href="#">Reply</a>
                        </div>
                      </li>

                      <li class="comment-single">
                        <div class="comment-thumb">
                          <img src="../static/images/blog/author-thumb2.png" alt="">
                        </div>
                        <div class="comment-text">
                          <div class="comment-author">
                            <h4>Jessika Luisons</h4>
                            <span>19 Nov, 2020</span>
                          </div>
                          <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis nibh. Maecenas convallis eros a antedignissim, vitae elementum metus facilisis. Cras in maximus sem. Praesent libero augue, ornare eget quam sed, volutpat suscipit arcu. Duis ut urna commodo.</p>
                        </div>
                        <div class="comment-reply-link">
                          <a href="#">Reply</a>
                        </div>

                        <ul class="list-unstyled">
                          <li class="comment-single">
                            <div class="comment-thumb">
                              <img src="../static/images/blog/author-thumb3.png" alt="">
                            </div>
                            <div class="comment-text">
                              <div class="comment-author">
                                <h4>Jessika Luisons</h4>
                                <span>19 Nov, 2020</span>
                              </div>
                              <p>Phasellus dignissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis ibh. Maecenas convallis.</p>
                            </div>
                            <div class="comment-reply-link">
                              <a href="#">Reply</a>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--comment-form-->
              <div class="blog-comment-form mt-10">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="comment-form-title mb-50">
                      <h2>Leave A Reply</h2>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <input type="text" placeholder="Your full name" class="form-control">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" placeholder="Email address" class="form-control">
                  </div>
                  <div class="col-lg-12">
                    <input type="text" placeholder="Website" class="form-control">
                  </div>
                  <div class="col-lg-12">
                    <textarea placeholder="Enter Your Message" class="form-control" cols="30" rows="6"> </textarea>
                  </div>
                  <div class="col-lg-12">
                    <button class="btn btn-main btn-radius mt-10">Post Comment</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
    
<!-- Blog Single Section End -->
{% endblock %}
